body {
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 10% 0% 0% 0%;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  text-align: center;
}

ul{
  list-style-type: none;
}

li{
  display: inline;
  margin-left: 5rem;
}

.leaflet-container{
  width: 500px;
  height: 500px;
  border: 1px solid black;
}

.booking {
  font-family: 'Roboto', sans-serif;
}

